
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h4 class="mt-1">Danh sách người dùng</h4>

        <div class="card mb-4">
            <div class="card-header">
            </div>

            <div class="card-body">
                <table id="datatablesSimple">
                    <thead style="color:#0d6efd ">
                        <tr style="background-color: darkgrey">
                            <th>STT</th>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            
                            <th>Quyền</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                           
                            <th>Quyền</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{ var stt = 1;}
                        @foreach (var item in ViewBag.List)
                        {
                        <tr>
                            <td style="width:10px">@stt</td>
                            <td>
                                @item.fullname
                            </td>
                            <td>
                                @item.email
                            </td>
                            <td>
                                @item.phonenumber
                            </td>
                            <td>
                                @item.role.name
                            </td>
                        </tr>
                            stt++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

