
@{
    ViewBag.Title = "GetBookings";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div class="hero-wrap js-fullheight" style="background-image: url('https://ezcloud.vn/wp-content/uploads/2019/07/1533966485504_8785368-1.jpg'); height: 400px">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center" style="margin-top: 200px" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Trang chủ</a></span> <span>Danh sách</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Lịch sử thuê xe</h1>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.mess == "1")
{
    <div class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 40PX;z-index: 2000;width: 300px">

        <script>
            swal({
                title: 'Hủy thuê xe thành công!',
                /* text: 'Redirecting...', */
                icon: 'success',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    </div>
}
<section class="ftco-section ftco-degree-bg">
    <div class="container-fluid">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Ngày thuê</th>
                    <th scope="col">Số này thuê</th>
                    <th scope="col">Tên xe</th>
                    <th scope="col">Mã voucher</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Hoạt động</th>
                </tr>
            </thead>
            <tbody>
                @{ int index = 0;}
                @foreach (var item in ViewBag.listBooking)
                {
                    index++;
                <tr>
                    <th scope="row">@index</th>
                    <td>@item.date_rental</td>
                    <td>@item.number_day</td>
                    <td>@item.vehicle.name</td>

                    @if (item.voucher != null)
                    {


                        <td>
                            @item.voucher.name
                        </td>
                    }
                    else
                    {
                        <td>
                        </td>
                    }
                    <td>@item.amount VNĐ</td>
                    @if (item.status == 0)
                    {
                        <td>
                            Chờ xác nhận
                        </td>
                    }
                    else if (item.status == 1)
                    {

                        <td>
                            Đã xác nhận
                        </td>
                    }
                    else
                    {
                        <td>
                            Đã hủy
                        </td>
                    }
                    @if (item.status == 0)
                    {
                        <td style="width:380px">
                            <a href="/PublicRental/CancelRental/@item.rental_id" style="width:170px" class="btn btn-danger">Hủy</a>
                        </td>
                    }
                    @if (item.status != 0)
                    {
                        <td style="width:380px">
                           
                        </td>
                    }

                </tr>
                }

            </tbody>
        </table>
    </div>
</section>
