
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h4 class="mt-1">Danh sách Xe</h4>

        <div class="card mb-4">
            <div class="card-header">
                @if (ViewBag.Msg != null)
                {
                    if (ViewBag.Msg == "1")
                    {
                        <div class="alert alert-success">
                            <strong>Thành công</strong>
                        </div>
                    }
                    if (ViewBag.Msg == "2")
                    {
                        <div class="alert alert-danger">
                            <strong>Xe có trong lịch sử thuê, không thể xóa!</strong>
                        </div>
                    }
                }
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#exampleModalAdd">
                    Thêm mới
                </button>
            </div>

            <div class="card-body">
                <table id="datatablesSimple">
                    <thead style="color:#0d6efd ">
                        <tr style="background-color: darkgrey">
                            <th>STT</th>
                            <th>Tên xe</th>
                            <th>Ảnh</th>
                            <th>Loại xe</th>
                            <th>Số lượng</th>
                            <th>Giá thuê</th>
                            <th>Mô tả</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Tên xe</th>
                            <th>Ảnh</th>
                            <th>Loại xe</th>
                            <th>Giá thuê</th>
                            <th>Mô tả</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{ var stt = 1;}
                        <input type="hidden" value="@ViewBag.List.Count" id="dodai" />
                        @foreach (var item in ViewBag.List)
                        {
                            var nameModelDes = "exampleModalDes" + item.vehicle_id;
                    <tr>
                        <td style="width:10px">@stt</td>
                        <td>
                            @item.name
                        </td>
                        <td>
                            <img style="width: 200px !important;height: 150px !important;" src="~/Content/images/@item.image"
                                 class="img-fluid">
                        </td>
                        <td>
                            @item.type_vehicle
                        </td>
                        <td>
                            @item.quantity
                        </td>
                        <td>
                            @item.price <span>VNĐ / 1 ngày</span>
                        </td>
                        <td>
                            <a href="" data-bs-toggle="modal" data-bs-target="#@nameModelDes">Xem</a>
                        </td>
                        <td>
                            @{
                                var idEx1 = "exampleModalLabel" + item.vehicle_id;
                                var idModelDel = "exampleModalDel" + item.vehicle_id;
                                var edit = "comment" + stt;
                            }
                            <button style="width:100px" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#@idEx1">
                                Sửa
                            </button>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#@idModelDel" style="width:100px" class="btn btn-danger"> Xóa</button>
                        </td>
                        <div class="modal fade" id="@idModelDel" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn xóa ?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        Xe : @item.name
                                        <form action="/AdminVehicle/Delete" method="post">
                                            <input type="hidden" class="form-control" id="id" name="vehicle_id" value="@item.vehicle_id">
                                            <div class="modal-footer" style="margin-top: 20px">
                                                <button style="width:100px" type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                    Đóng
                                                </button>
                                                <button style="width:100px" type="submit" class="btn btn-danger"> Xóa</button>
                                            </div>
                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Modal Update-->
                        <div class="modal fade" id="@idEx1" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cập nhập xe</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/AdminVehicle/Update" class="register-form" id="register-form" enctype="multipart/form-data">
                                            <input type="hidden" class="form-control" id="id" name="vehicle_id" value="@item.vehicle_id">

                                            <div class="col">
                                                <div class="row">
                                                    <div class="col-6 mb-3">
                                                        <label for="category-film"
                                                               class="col-form-label">Tên xe:</label>
                                                        <input type="text" class="form-control" id="category-film" name="name" required value="@item.name">
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <label for="category-film"
                                                               class="col-form-label">Giá thuê trên 1 ngày:</label>
                                                        <input type="number" class="form-control" id="category-film" name="price" required value="@item.price">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6 mb-3">
                                                        <label for="category-film"
                                                               class="col-form-label">Loại xe:</label>
                                                        <select class="form-select" aria-label="Default select example" id="theloai" tabindex="8" name="type_vehicle" required>
                                                            @if (item.type_vehicle == "Xe máy")
                                                            {
                                                                <option value="Xe máy" selected>Xe máy</option>
                                                                <option value="Xe ô tô">Xe ô tô</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="Xe máy" >Xe máy</option>
                                                                <option value="Xe ô tô" selected>Xe ô tô</option>
                                                            }

                                                        </select>
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <label for="category-film"
                                                               class="col-form-label">Số lượng:</label>
                                                        <input type="number" class="form-control" id="category-film" name="quantity" required value="@item.quantity">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 mb-3">
                                                        <label for="category-film"
                                                               class="col-form-label">Ảnh:</label>
                                                        <input type="file" name="file" class="form-control-file"
                                                               id="exampleFormControlFile1" >
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 mb-3">
                                                        <label for="category-film"
                                                               class="col-form-label">Mô tả:</label>
                                                        <textarea name="description" id="@edit" cols="30"
                                                                  rows="30">@Html.Raw(item.description)</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                    Đóng
                                                </button>
                                                <button type="submit" class="btn btn-primary">Lưu</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Modal Descrip-->
                        <div class="modal fade" id="@nameModelDes" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">@item.name</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>@Html.Raw(item.description)</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tr>
                            stt++;
                        }
                        <div class="modal fade" id="exampleModalAdd" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/AdminVehicle/Add" class="register-form" id="register-form" enctype="multipart/form-data">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col-6 mb-3">
                                                        <label for="category-film"
                                                               class="col-form-label">Tên xe:</label>
                                                        <input type="text" class="form-control" id="category-film" name="name" required>
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <label for="category-film"
                                                               class="col-form-label">Giá thuê trên 1 ngày:</label>
                                                        <input type="number" class="form-control" id="category-film" name="price" required>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6 mb-3">
                                                        <label for="category-film"
                                                               class="col-form-label">Loại xe:</label>
                                                        <select class="form-select" aria-label="Default select example" id="theloai" tabindex="8" name="type_vehicle" required>
                                                            <option value="Xe máy" selected>Xe máy</option>
                                                            <option value="Xe ô tô">Xe ô tô</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <label for="category-film"
                                                               class="col-form-label">Số lượng:</label>
                                                        <input type="number" class="form-control" id="category-film" name="quantity" required>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 mb-3">
                                                        <label for="category-film"
                                                               class="col-form-label">Ảnh:</label>
                                                        <input type="file" name="file" class="form-control-file"
                                                               id="exampleFormControlFile1" required>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 mb-3">
                                                        <label for="category-film"
                                                               class="col-form-label">Mô tả:</label>
                                                        <textarea name="description" id="editor" cols="30"
                                                                  rows="30"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-primary">Save </button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>

            CKEDITOR.replace("editor");

    </script>
    <script>
            var dodai = document.getElementById("dodai").value;

            for (var i = 1; i <= dodai; i++) {
                var name = "comment" + i
                CKEDITOR.replace(name);
            }
    </script>
</main>
